rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /birthdayWishes/{docId} {
      allow read, write: if true;
    }
    match /birthdayPunishments/{docId} {
      allow read, write: if true;
    }
    match /birthdayMemories/{docId} {
      allow read, write: if true;
    }
    match /couplePlans/{docId} {
      allow read, write: if true;
    }
    match /coupleNotes/{docId} {
      allow read, write: if true;
    }
    match /coupleKisses/{docId} {
      allow read, write: if true;
    }
    match /coupleMilestones/{docId} {
      allow read, write: if true;
    }
    match /loveCoupons/{docId} {
      allow read, write: if true;
    }
  }
}
